body{
    text-align: center;
}

.box-contener{
    display: flex;
    justify-content: center;
}

.box{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 30px;
}

.yellow{
    background-color: #f99b45;
}

.red{
    background-color: #d65680;
}

.purple{
    background-color: #819ff9;
}

.green{
    background-color: #63aac0;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: green;
}